<?xml version="1.0"?>
<launch>

  <!--node pkg="tf" type="static_transform_publisher"
        name="mode_manager_test" args="0 0 0 0 0 0 odom base_footprint 0.1" output="screen">
  </node-->

  <!--include file="$(find mir_2dslam)/ros/launch/2dslam.launch">
  </include-->


  	<!-- launch hector_mapping-->
  	<node pkg="hector_mapping" type="hector_mapping" name="hector_mapping">
  		<remap from="scan" to="/base_scan"/>
      <param name="_map_size" value="2048"/>
      <param name="_map_resolution" value="0.05"/>
      <param name="_pub_map_odom_transform" value="false"/>
      <param name="_scan_topic" value="/scan"/>
      <param name="_use_tf_scan_transformation" value="false"/>
      <param name="_base_frame" value="base_footprint"/>
  	</node>

</launch>
