<?xml version="1.0"?>
<launch>

    <arg name="robot" default="$(optenv ROBOT !!ROBOT NOT SET!!)" />
    <arg name="robot_env" default="stage-cave" />
    <arg name="input_scans" default="[base_scan_0, base_scan_1]"/>
    <arg name="output_scan" default="/scan_unified"/>

    <!-- delete old parameters -->
    <rosparam command="delete" param="/move_base"/>

    <!-- common navigation launch file -->
    <include file="$(find multi_map_server)/launch/multi_map_server.launch">
        <arg name="map" value="$(arg robot_env)" />
    </include>

    <!-- run scan unifier -->
    <node pkg="cob_scan_unifier" type="scan_unifier_node" name="scan_unifier" output="log">
        <rosparam subst_value="True" param="input_scans">$(arg input_scans)</rosparam>
        <remap from="scan_unified" to="$(arg output_scan)"/>
    </node>

    <!-- particle filter localization -->
    <!--- start AMCL -->
    <node pkg="amcl" type="amcl" name="amcl">
        <remap from="scan" to="$(arg output_scan)"/>
    </node>

    <!-- move_base navigation -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <remap from="~force_field_recovery/cmd_vel" to="/cmd_vel"/>

        <!-- planner selection parameter -->
        <param name="base_local_planner" value="pose_follower/PoseFollower"/>

        <!-- move_base parameters -->
        <rosparam file="$(find navigation_delux_toolbox_cfg)/experimental_stage/move_base_params.yaml" command="load" />
        <rosparam file="$(find navigation_delux_toolbox_cfg)/experimental_stage/robot_footprint.yaml" command="load" />


        <!-- global costmap parameters -->
        <rosparam file="$(find navigation_delux_toolbox_cfg)/experimental_stage/robot_footprint.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find navigation_delux_toolbox_cfg)/experimental_stage/costmap_common_params.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find navigation_delux_toolbox_cfg)/experimental_stage/global_costmap_params.yaml" command="load" />

        <!-- local costmap parameters -->
        <rosparam file="$(find navigation_delux_toolbox_cfg)/experimental_stage/robot_footprint.yaml" command="load" ns="local_costmap"/>
        <rosparam file="$(find navigation_delux_toolbox_cfg)/experimental_stage/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find navigation_delux_toolbox_cfg)/experimental_stage/local_costmap_params.yaml" command="load" />

    </node>

</launch>
